.maincondate {
  display: flex;
  gap: 10px;
  background-color: white;

  overflow-x: auto; /* Enable horizontal scrolling */
}
.semidiv::-webkit-scrollbar {
  outline: none;
}
.semidiv {
  overflow-x: auto; /* Enable horizontal scrolling */
}

.sliderpart {
  display: flex;
  gap: 10px;
  white-space: nowrap; /* Prevent line breaks */
}

.eachdate {
  margin: 0px 1px;
  flex: 0 0 auto;
  border: 2px solid rgba(90, 99, 122, 1);
  padding: 10px;
  border-radius: 6px;
}
.selected {
  background-color: rgba(26, 44, 80, 1);
  color: white;
}
.selected .monthdate {
  color: white;
}

.monthdate {
  font-size: 16px;
  font-weight: 500;
  color: rgba(90, 99, 122, 1);
}

.dateday {
  text-align: center;
}
